interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-03-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135839Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>0fa37520-b6e2-4c74-b4e4-df99faf6c365</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-03-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135839Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n \
        \   <requestId>3adeeb71-5f8a-4d59-a6b8-aba556142706</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-86813de3</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-86813de3&Version=2015-03-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135839Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>7a5f14a7-43fc-4855-ac2b-0d5d04b09e4b</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-86813de3</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <instanceTenancy>default</instanceTenancy>\n            <isDefault>false</isDefault>\n\
        \        </item>\n    </vpcSet>\n</DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateTags&ResourceId.1=vpc-86813de3&Version=2015-03-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135840Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>16c96d98-3ff9-437a-9240-8440d563bf91</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateRouteTable&VpcId=vpc-86813de3&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135840Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>0a6c106a-7abd-480d-9be9-4161603b29bf</requestId>\n    <routeTable>\n\
        \        <routeTableId>rtb-becd45db</routeTableId>\n        <vpcId>vpc-86813de3</vpcId>\n\
        \        <routeSet>\n            <item>\n                <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                <gatewayId>local</gatewayId>\n                <state>active</state>\n\
        \                <origin>CreateRouteTable</origin>\n            </item>\n\
        \        </routeSet>\n        <associationSet/>\n        <propagatingVgwSet/>\n\
        \        <tagSet/>\n    </routeTable>\n</CreateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=rtb-becd45db&Version=2015-03-01&Filter.1.Name=route-table-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135840Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>a7500e9c-b406-4c69-9577-ee5c684a051d</requestId>\n    <routeTableSet>\n\
        \        <item>\n            <routeTableId>rtb-becd45db</routeTableId>\n \
        \           <vpcId>vpc-86813de3</vpcId>\n            <routeSet>\n        \
        \        <item>\n                    <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                    <gatewayId>local</gatewayId>\n                    <state>active</state>\n\
        \                    <origin>CreateRouteTable</origin>\n                </item>\n\
        \            </routeSet>\n            <associationSet/>\n            <propagatingVgwSet/>\n\
        \            <tagSet/>\n        </item>\n    </routeTableSet>\n</DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateSubnet&VpcId=vpc-86813de3&Version=2015-03-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135841Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>6d28e79c-83c7-40bb-a506-2b18dd451a3d</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-9d65cfc4</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-86813de3</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1b</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-9d65cfc4&Version=2015-03-01&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135841Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>67e7c2d4-f5a8-4977-a227-ee1e3ecc7385</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-9d65cfc4</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-86813de3</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1b</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-9d65cfc4&Version=2015-03-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135841Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>791121ce-734c-4a07-8716-dc52b9ad731f</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-fba32f9e</networkAclId>\n \
        \           <vpcId>vpc-86813de3</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-1075b474</networkAclAssociationId>\n\
        \                    <networkAclId>acl-fba32f9e</networkAclId>\n         \
        \           <subnetId>subnet-9d65cfc4</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=AssociateRouteTable&SubnetId=subnet-9d65cfc4&RouteTableId=rtb-becd45db&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135842Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <AssociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>e3d76471-0c74-4896-8a4f-1989658bf611</requestId>\n    <associationId>rtbassoc-e17fe184</associationId>\n\
        </AssociateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-86813de3&Version=2015-03-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135842Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>2ab9e784-bccb-4325-9e59-7a5e17e2fb53</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-86813de3</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=rtb-becd45db&Version=2015-03-01&Filter.1.Name=route-table-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135842Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>2646dc49-951e-498c-a659-4329accce8e1</requestId>\n    <routeTableSet>\n\
        \        <item>\n            <routeTableId>rtb-becd45db</routeTableId>\n \
        \           <vpcId>vpc-86813de3</vpcId>\n            <routeSet>\n        \
        \        <item>\n                    <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                    <gatewayId>local</gatewayId>\n                    <state>active</state>\n\
        \                    <origin>CreateRouteTable</origin>\n                </item>\n\
        \            </routeSet>\n            <associationSet>\n                <item>\n\
        \                    <routeTableAssociationId>rtbassoc-e17fe184</routeTableAssociationId>\n\
        \                    <routeTableId>rtb-becd45db</routeTableId>\n         \
        \           <subnetId>subnet-9d65cfc4</subnetId>\n                    <main>false</main>\n\
        \                </item>\n            </associationSet>\n            <propagatingVgwSet/>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-subnet</value>\n                </item>\n\
        \            </tagSet>\n        </item>\n    </routeTableSet>\n</DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DisassociateRouteTable&AssociationId=rtbassoc-e17fe184&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135844Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DisassociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>855d3119-1f40-4189-aa32-a2bed23b72a2</requestId>\n    <return>true</return>\n\
        </DisassociateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-9d65cfc4&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135846Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>b27a2b10-67a5-40c2-ad33-339c40a5c8b0</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteRouteTable&RouteTableId=rtb-becd45db&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135846Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>371c0bc1-1788-48dc-ac50-7c8ac73e359a</requestId>\n    <return>true</return>\n\
        </DeleteRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-86813de3&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135847Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n \
        \   <requestId>d5af1d6b-23d8-43e8-88e9-3996cd2910f0</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-86813de3&Version=2015-03-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135847Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>d03cd7ae-93d3-427d-9317-062917b44f82</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
