interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-04-15&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145545Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>43becd0a-1608-40b0-8f84-7a627e08f430</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-04-15&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145546Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n \
        \   <requestId>d98504ec-e665-4ffd-99f6-391c4c20109b</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-15028770</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-15028770&Version=2015-04-15&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145546Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>69d5c8d3-d4d0-4de8-826e-c9e1f0a5fe83</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-15028770</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <instanceTenancy>default</instanceTenancy>\n            <isDefault>false</isDefault>\n\
        \        </item>\n    </vpcSet>\n</DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateTags&ResourceId.1=vpc-15028770&Version=2015-04-15&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145546Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>89d2cd74-b73d-496a-b0bb-393c5335b4ae</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateRouteTable&VpcId=vpc-15028770&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145546Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>03306d36-80f2-4701-9a36-d8aa2a8d1b2f</requestId>\n    <routeTable>\n\
        \        <routeTableId>rtb-0c049469</routeTableId>\n        <vpcId>vpc-15028770</vpcId>\n\
        \        <routeSet>\n            <item>\n                <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                <gatewayId>local</gatewayId>\n                <state>active</state>\n\
        \                <origin>CreateRouteTable</origin>\n            </item>\n\
        \        </routeSet>\n        <associationSet/>\n        <propagatingVgwSet/>\n\
        \        <tagSet/>\n    </routeTable>\n</CreateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=rtb-0c049469&Version=2015-04-15&Filter.1.Name=route-table-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145547Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>e40fcd55-5c9a-4d0c-b96f-87b2b9ce68dd</requestId>\n    <routeTableSet>\n\
        \        <item>\n            <routeTableId>rtb-0c049469</routeTableId>\n \
        \           <vpcId>vpc-15028770</vpcId>\n            <routeSet>\n        \
        \        <item>\n                    <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                    <gatewayId>local</gatewayId>\n                    <state>active</state>\n\
        \                    <origin>CreateRouteTable</origin>\n                </item>\n\
        \            </routeSet>\n            <associationSet/>\n            <propagatingVgwSet/>\n\
        \            <tagSet/>\n        </item>\n    </routeTableSet>\n</DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateSubnet&VpcId=vpc-15028770&Version=2015-04-15&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145548Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>da6c54af-ed77-47a8-814f-1513b877e286</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-34ff6643</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-15028770</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1a</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-34ff6643&Version=2015-04-15&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145548Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>9127d16a-e223-4f93-949b-452298e0340d</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-34ff6643</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-15028770</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1a</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-34ff6643&Version=2015-04-15&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145548Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>9cd02f5a-624d-4471-9dbc-73d5d7bfdbac</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-0030a465</networkAclId>\n \
        \           <vpcId>vpc-15028770</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-5cdc0438</networkAclAssociationId>\n\
        \                    <networkAclId>acl-0030a465</networkAclId>\n         \
        \           <subnetId>subnet-34ff6643</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=AssociateRouteTable&SubnetId=subnet-34ff6643&RouteTableId=rtb-0c049469&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145549Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <AssociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>11db5fd9-f9a8-4afb-88ae-7ba6390cb87e</requestId>\n    <associationId>rtbassoc-24701041</associationId>\n\
        </AssociateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-15028770&Version=2015-04-15&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145549Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>cb6f95b8-09ff-4309-bedc-6cd92a285a34</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-15028770</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=rtb-0c049469&Version=2015-04-15&Filter.1.Name=route-table-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145549Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>17166143-d5ff-494d-a2fb-f3ba16ebae51</requestId>\n    <routeTableSet>\n\
        \        <item>\n            <routeTableId>rtb-0c049469</routeTableId>\n \
        \           <vpcId>vpc-15028770</vpcId>\n            <routeSet>\n        \
        \        <item>\n                    <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                    <gatewayId>local</gatewayId>\n                    <state>active</state>\n\
        \                    <origin>CreateRouteTable</origin>\n                </item>\n\
        \            </routeSet>\n            <associationSet>\n                <item>\n\
        \                    <routeTableAssociationId>rtbassoc-24701041</routeTableAssociationId>\n\
        \                    <routeTableId>rtb-0c049469</routeTableId>\n         \
        \           <subnetId>subnet-34ff6643</subnetId>\n                    <main>false</main>\n\
        \                </item>\n            </associationSet>\n            <propagatingVgwSet/>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-subnet</value>\n                </item>\n\
        \            </tagSet>\n        </item>\n    </routeTableSet>\n</DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DisassociateRouteTable&AssociationId=rtbassoc-24701041&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145551Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DisassociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>e6cbfdc0-2849-433d-945f-6400099d1601</requestId>\n    <return>true</return>\n\
        </DisassociateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-34ff6643&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145553Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>9a811035-c704-43eb-b0ec-d5466a100a66</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteRouteTable&RouteTableId=rtb-0c049469&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145553Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>b4d0c2b4-0046-4957-81d4-030b9d4b43c7</requestId>\n    <return>true</return>\n\
        </DeleteRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-15028770&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145553Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n \
        \   <requestId>562fc8a5-155d-4630-963d-1d5b65db5e2d</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-15028770&Version=2015-04-15&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145554Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>5f1f07dd-82c8-42cb-9b37-0cf59e7c394f</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
