interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-10-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162516Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>f0a6b9e9-527b-4781-9420-3326e3e9f036</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162517Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>a3770c7d-f969-4a7e-8ffc-986980118876</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-acb492c9</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateTags&ResourceId.1=vpc-acb492c9&Version=2015-10-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162517Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>40b51b42-7a5f-40e8-a11e-b2dd4ffcebd8</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-acb492c9&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162517Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>50de7208-745a-43a3-b721-b70d9f479a29</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-acb492c9</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateSecurityGroup&GroupName=test-security-group&Version=2015-10-01&VpcId=vpc-acb492c9&GroupDescription=test-security-group
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162517Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSecurityGroupResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>df9bc0e7-1122-4019-913b-a858fb51d728</requestId>\n    <return>true</return>\n\
        \    <groupId>sg-ba5e23de</groupId>\n</CreateSecurityGroupResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeSecurityGroups&Filter.1.Value.1=sg-ba5e23de&Version=2015-10-01&Filter.1.Name=group-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162518Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSecurityGroupsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>75e0ca5f-50a7-4eb7-94b8-cb4a8c955cdf</requestId>\n    <securityGroupInfo>\n\
        \        <item>\n            <ownerId>000000000000</ownerId>\n           \
        \ <groupId>sg-ba5e23de</groupId>\n            <groupName>test-security-group</groupName>\n\
        \            <groupDescription>test-security-group</groupDescription>\n  \
        \          <vpcId>vpc-acb492c9</vpcId>\n            <ipPermissions/>\n   \
        \         <ipPermissionsEgress>\n                <item>\n                \
        \    <ipProtocol>-1</ipProtocol>\n                    <groups/>\n        \
        \            <ipRanges>\n                        <item>\n                \
        \            <cidrIp>0.0.0.0/0</cidrIp>\n                        </item>\n\
        \                    </ipRanges>\n                    <prefixListIds/>\n \
        \               </item>\n            </ipPermissionsEgress>\n        </item>\n\
        \    </securityGroupInfo>\n</DescribeSecurityGroupsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSecurityGroup&Version=2015-10-01&GroupId=sg-ba5e23de
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162519Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSecurityGroupResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>aa3e4294-a447-4d7b-876d-b46b5b24a607</requestId>\n    <return>true</return>\n\
        </DeleteSecurityGroupResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-acb492c9&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162520Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>76aa797e-c8d8-4930-8945-29743cbf9592</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-acb492c9&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162520Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>5a3b5497-a525-4116-8c51-e869a1903183</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
