interactions:
- request:
    body: Action=DescribeLaunchConfigurations&Version=2011-01-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150429T170105Z]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DescribeLaunchConfigurationsResponse xmlns=\"\
        http://autoscaling.amazonaws.com/doc/2011-01-01/\">\n  <DescribeLaunchConfigurationsResult>\n\
        \    <LaunchConfigurations/>\n  </DescribeLaunchConfigurationsResult>\n  <ResponseMetadata>\n\
        \    <RequestId>52c5c98e-ee91-11e4-aa63-db002c419931</RequestId>\n  </ResponseMetadata>\n\
        </DescribeLaunchConfigurationsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [52c5c98e-ee91-11e4-aa63-db002c419931]
    status: {code: 200, message: OK}
[...]
- request:
    body: InstanceMonitoring.Enabled=false&ImageId=ami-cba130bc&Version=2011-01-01&LaunchConfigurationName=my-test-lc.1&Action=CreateLaunchConfiguration&InstanceType=t2.micro
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150429T170105Z]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<CreateLaunchConfigurationResponse xmlns=\"http://autoscaling.amazonaws.com/doc/2011-01-01/\"\
        >\n  <ResponseMetadata>\n    <RequestId>52f9ab21-ee91-11e4-b27e-73d84c3ba62a</RequestId>\n\
        \  </ResponseMetadata>\n</CreateLaunchConfigurationResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [52f9ab21-ee91-11e4-b27e-73d84c3ba62a]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeLaunchConfigurations&Version=2011-01-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150429T170105Z]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DescribeLaunchConfigurationsResponse xmlns=\"\
        http://autoscaling.amazonaws.com/doc/2011-01-01/\">\n  <DescribeLaunchConfigurationsResult>\n\
        \    <LaunchConfigurations>\n      <member>\n        <SecurityGroups/>\n \
        \       <CreatedTime>2015-04-29T17:01:05.932Z</CreatedTime>\n        <KernelId/>\n\
        \        <LaunchConfigurationName>my-test-lc.1</LaunchConfigurationName>\n\
        \        <UserData/>\n        <LaunchConfigurationARN>arn:aws:autoscaling:eu-west-1:000000000000:launchConfiguration:0d557f21-0eb8-4411-ad49-69b0a023e883:launchConfigurationName/my-test-lc.1</LaunchConfigurationARN>\n\
        \        <InstanceType>t2.micro</InstanceType>\n        <BlockDeviceMappings/>\n\
        \        <ImageId>ami-cba130bc</ImageId>\n        <KeyName/>\n        <RamdiskId/>\n\
        \        <InstanceMonitoring>\n          <Enabled>false</Enabled>\n      \
        \  </InstanceMonitoring>\n        <ClassicLinkVPCSecurityGroups/>\n      \
        \  <EbsOptimized>false</EbsOptimized>\n      </member>\n    </LaunchConfigurations>\n\
        \  </DescribeLaunchConfigurationsResult>\n  <ResponseMetadata>\n    <RequestId>532a5891-ee91-11e4-8fd3-4f243a31cf27</RequestId>\n\
        \  </ResponseMetadata>\n</DescribeLaunchConfigurationsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [532a5891-ee91-11e4-8fd3-4f243a31cf27]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteLaunchConfiguration&Version=2011-01-01&LaunchConfigurationName=my-test-lc.1
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150429T170106Z]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DeleteLaunchConfigurationResponse xmlns=\"http://autoscaling.amazonaws.com/doc/2011-01-01/\"\
        >\n  <ResponseMetadata>\n    <RequestId>53b6e106-ee91-11e4-acd1-7fa3e8e2c1e6</RequestId>\n\
        \  </ResponseMetadata>\n</DeleteLaunchConfigurationResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [53b6e106-ee91-11e4-acd1-7fa3e8e2c1e6]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeLaunchConfigurations&Version=2011-01-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150429T170107Z]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DescribeLaunchConfigurationsResponse xmlns=\"\
        http://autoscaling.amazonaws.com/doc/2011-01-01/\">\n  <DescribeLaunchConfigurationsResult>\n\
        \    <LaunchConfigurations/>\n  </DescribeLaunchConfigurationsResult>\n  <ResponseMetadata>\n\
        \    <RequestId>53d23169-ee91-11e4-9b90-8bc38b953b8c</RequestId>\n  </ResponseMetadata>\n\
        </DescribeLaunchConfigurationsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [53d23169-ee91-11e4-9b90-8bc38b953b8c]
    status: {code: 200, message: OK}
version: 1
