interactions:
- request:
    body: Action=GetQueueUrl&Version=2012-11-05&QueueName=test-queue
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150304T110756Z]
    method: !!python/unicode 'POST'
    uri: https://eu-west-1.queue.amazonaws.com:443/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
        specified queue does not exist for this wsdl version.</Message><Detail/></Error><RequestId>28c462a8-cb81-56b2-b5b0-2fd8224c8646</RequestId></ErrorResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [28c462a8-cb81-56b2-b5b0-2fd8224c8646]
    status: {code: 400, message: Bad Request}
- request:
    body: Action=CreateQueue&Version=2012-11-05&QueueName=test-queue
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150304T110757Z]
    method: !!python/unicode 'POST'
    uri: https://eu-west-1.queue.amazonaws.com:443/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?><CreateQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><CreateQueueResult><QueueUrl>https://eu-west-1.queue.amazonaws.com/000000000000/test-queue</QueueUrl></CreateQueueResult><ResponseMetadata><RequestId>1c3c77c5-40be-55cf-be58-3ab5a973953b</RequestId></ResponseMetadata></CreateQueueResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [1c3c77c5-40be-55cf-be58-3ab5a973953b]
    status: {code: 200, message: OK}
- request:
    body: Action=GetQueueUrl&Version=2012-11-05&QueueName=test-queue
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150304T110757Z]
    method: !!python/unicode 'POST'
    uri: https://eu-west-1.queue.amazonaws.com:443/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?><GetQueueUrlResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueUrlResult><QueueUrl>https://eu-west-1.queue.amazonaws.com/000000000000/test-queue</QueueUrl></GetQueueUrlResult><ResponseMetadata><RequestId>46ed305d-d5a2-5144-9aac-7d2d3c6f91b0</RequestId></ResponseMetadata></GetQueueUrlResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [46ed305d-d5a2-5144-9aac-7d2d3c6f91b0]
    status: {code: 200, message: OK}
- request:
    body: Action=GetQueueAttributes&QueueUrl=https%3A%2F%2Feu-west-1.queue.amazonaws.com%2F000000000000%2Ftest-queue&Version=2012-11-05&AttributeName.1=All
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150304T110757Z]
    method: !!python/unicode 'POST'
    uri: https://eu-west-1.queue.amazonaws.com:443/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?><GetQueueAttributesResponse
        xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><GetQueueAttributesResult><Attribute><Name>QueueArn</Name><Value>arn:aws:sqs:eu-west-1:000000000000:test-queue</Value></Attribute><Attribute><Name>ApproximateNumberOfMessages</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesNotVisible</Name><Value>0</Value></Attribute><Attribute><Name>ApproximateNumberOfMessagesDelayed</Name><Value>0</Value></Attribute><Attribute><Name>CreatedTimestamp</Name><Value>1425467277</Value></Attribute><Attribute><Name>LastModifiedTimestamp</Name><Value>1425467277</Value></Attribute><Attribute><Name>VisibilityTimeout</Name><Value>30</Value></Attribute><Attribute><Name>MaximumMessageSize</Name><Value>262144</Value></Attribute><Attribute><Name>MessageRetentionPeriod</Name><Value>345600</Value></Attribute><Attribute><Name>DelaySeconds</Name><Value>0</Value></Attribute><Attribute><Name>ReceiveMessageWaitTimeSeconds</Name><Value>0</Value></Attribute></GetQueueAttributesResult><ResponseMetadata><RequestId>ad07866e-17f6-5f6b-ba33-cb1efe3b9f9f</RequestId></ResponseMetadata></GetQueueAttributesResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [ad07866e-17f6-5f6b-ba33-cb1efe3b9f9f]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteQueue&QueueUrl=https%3A%2F%2Feu-west-1.queue.amazonaws.com%2F000000000000%2Ftest-queue&Version=2012-11-05
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150304T110758Z]
    method: !!python/unicode 'POST'
    uri: https://eu-west-1.queue.amazonaws.com:443/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?><DeleteQueueResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><ResponseMetadata><RequestId>8c604dae-2f89-5847-b00a-00dec647fd35</RequestId></ResponseMetadata></DeleteQueueResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [8c604dae-2f89-5847-b00a-00dec647fd35]
    status: {code: 200, message: OK}
- request:
    body: Action=GetQueueUrl&Version=2012-11-05&QueueName=test-queue
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150304T110758Z]
    method: !!python/unicode 'POST'
    uri: https://eu-west-1.queue.amazonaws.com:443/
  response:
    body: {string: !!python/unicode '<?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Sender</Type><Code>AWS.SimpleQueueService.NonExistentQueue</Code><Message>The
        specified queue does not exist for this wsdl version.</Message><Detail/></Error><RequestId>4b77392e-98c6-503f-9a60-745e7108254d</RequestId></ErrorResponse>'}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [4b77392e-98c6-503f-9a60-745e7108254d]
    status: {code: 400, message: Bad Request}
version: 1
