interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-10-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162223Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>595b00c2-20f6-46ab-a3da-e285561db607</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162223Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>b2d878b9-fa12-490f-a121-1635c391cba1</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-eeb4928b</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateTags&ResourceId.1=vpc-eeb4928b&Version=2015-10-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162223Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>32bfc802-fc3e-4486-a196-b47c7dfe2bd0</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-eeb4928b&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162223Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>3f355fc5-bb0b-4b43-8429-b777fa8db933</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-eeb4928b</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateRouteTable&VpcId=vpc-eeb4928b&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162224Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>ab9e1653-939f-451e-9f29-fb19233f658f</requestId>\n    <routeTable>\n\
        \        <routeTableId>rtb-a3161ac6</routeTableId>\n        <vpcId>vpc-eeb4928b</vpcId>\n\
        \        <routeSet>\n            <item>\n                <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                <gatewayId>local</gatewayId>\n                <state>active</state>\n\
        \                <origin>CreateRouteTable</origin>\n            </item>\n\
        \        </routeSet>\n        <associationSet/>\n        <propagatingVgwSet/>\n\
        \        <tagSet/>\n    </routeTable>\n</CreateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=rtb-a3161ac6&Version=2015-10-01&Filter.1.Name=route-table-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162224Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>04acf14b-181a-4a3b-898d-715cd3d3b454</requestId>\n    <routeTableSet>\n\
        \        <item>\n            <routeTableId>rtb-a3161ac6</routeTableId>\n \
        \           <vpcId>vpc-eeb4928b</vpcId>\n            <routeSet>\n        \
        \        <item>\n                    <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                    <gatewayId>local</gatewayId>\n                    <state>active</state>\n\
        \                    <origin>CreateRouteTable</origin>\n                </item>\n\
        \            </routeSet>\n            <associationSet/>\n            <propagatingVgwSet/>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-subnet</value>\n                </item>\n\
        \            </tagSet>\n        </item>\n    </routeTableSet>\n</DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateSubnet&VpcId=vpc-eeb4928b&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162225Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>22f633d2-5616-4a7f-8793-560e23390884</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-f6aae2af</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-eeb4928b</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1b</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-f6aae2af&Version=2015-10-01&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162226Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>f1527697-2d68-43a1-8177-567ab8199628</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-f6aae2af</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-eeb4928b</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1b</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-subnet</value>\n                </item>\n\
        \            </tagSet>\n        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-f6aae2af&Version=2015-10-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162226Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>6d5ec81c-f85d-4021-9102-cba40fd6f2e0</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-d88c88bd</networkAclId>\n \
        \           <vpcId>vpc-eeb4928b</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-34810353</networkAclAssociationId>\n\
        \                    <networkAclId>acl-d88c88bd</networkAclId>\n         \
        \           <subnetId>subnet-f6aae2af</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=AssociateRouteTable&SubnetId=subnet-f6aae2af&RouteTableId=rtb-a3161ac6&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162226Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <AssociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>ea18dfbf-d360-4cb1-8b7c-042d4ba0c76d</requestId>\n    <associationId>rtbassoc-d9fb0bbd</associationId>\n\
        </AssociateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=rtb-a3161ac6&Version=2015-10-01&Filter.1.Name=route-table-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162227Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>1ba32bc9-61a4-4291-966c-0be6a12ff6b8</requestId>\n    <routeTableSet>\n\
        \        <item>\n            <routeTableId>rtb-a3161ac6</routeTableId>\n \
        \           <vpcId>vpc-eeb4928b</vpcId>\n            <routeSet>\n        \
        \        <item>\n                    <destinationCidrBlock>192.168.0.0/25</destinationCidrBlock>\n\
        \                    <gatewayId>local</gatewayId>\n                    <state>active</state>\n\
        \                    <origin>CreateRouteTable</origin>\n                </item>\n\
        \            </routeSet>\n            <associationSet>\n                <item>\n\
        \                    <routeTableAssociationId>rtbassoc-d9fb0bbd</routeTableAssociationId>\n\
        \                    <routeTableId>rtb-a3161ac6</routeTableId>\n         \
        \           <subnetId>subnet-f6aae2af</subnetId>\n                    <main>false</main>\n\
        \                </item>\n            </associationSet>\n            <propagatingVgwSet/>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-subnet</value>\n                </item>\n\
        \            </tagSet>\n        </item>\n    </routeTableSet>\n</DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DisassociateRouteTable&AssociationId=rtbassoc-d9fb0bbd&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162228Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DisassociateRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>9034dfa0-d72a-4a24-b333-592b337122a9</requestId>\n    <return>true</return>\n\
        </DisassociateRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-f6aae2af&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162230Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>1496e0aa-a004-43fc-8138-f66504f208e2</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteRouteTable&RouteTableId=rtb-a3161ac6&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162230Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteRouteTableResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>bd09a6ef-f740-441b-a115-4b185e39333c</requestId>\n    <return>true</return>\n\
        </DeleteRouteTableResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-eeb4928b&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162231Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>562bf40c-c23b-4c31-ba71-9a951f8cd020</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-eeb4928b&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162231Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>1a39d13b-32b5-44ed-a396-487ed17d427c</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
