interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2014-10-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080501Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n\
        \    <requestId>eb23b2a7-edba-46af-a871-cba9632190cc</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2014-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080501Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n \
        \   <requestId>9696ee94-3c30-4267-80f4-934e419da7ae</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-bd4c96d8</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-bd4c96d8&Version=2014-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080501Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n\
        \    <requestId>54e7cc3d-7271-4f28-9248-ce8c2f8f7776</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-bd4c96d8</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <instanceTenancy>default</instanceTenancy>\n            <isDefault>false</isDefault>\n\
        \        </item>\n    </vpcSet>\n</DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateTags&ResourceId.1=vpc-bd4c96d8&Version=2014-10-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080502Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n\
        \    <requestId>6172ba24-1e5d-4eaa-aa68-ca51ddb57ecb</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateSubnet&VpcId=vpc-bd4c96d8&Version=2014-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080502Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n\
        \    <requestId>64c822d8-2ec0-4dbc-8f08-058b1b213524</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-0f1a8b6a</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-bd4c96d8</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1c</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-0f1a8b6a&Version=2014-10-01&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080502Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\"\
        >\n    <requestId>17573ef4-3e70-4b6a-9b49-a2c68c96f58d</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-0f1a8b6a</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-bd4c96d8</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1c</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-0f1a8b6a&Version=2014-10-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080503Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\"\
        >\n    <requestId>89ecbe49-5513-4f46-95e6-805bc31a6984</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-a506a8c0</networkAclId>\n \
        \           <vpcId>vpc-bd4c96d8</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-72092317</networkAclAssociationId>\n\
        \                    <networkAclId>acl-a506a8c0</networkAclId>\n         \
        \           <subnetId>subnet-0f1a8b6a</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=subnet-0f1a8b6a&Version=2014-10-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080503Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\"\
        >\n    <requestId>bb149b71-a8ac-45ab-ac2f-f1396e749495</requestId>\n    <routeTableSet/>\n\
        </DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-bd4c96d8&Version=2014-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080503Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n\
        \    <requestId>721c539f-bc31-4543-beb4-a6f2de155226</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-bd4c96d8</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Filter.1.Name=vpc-id&Filter.2.Value.1=subnet-0f1a8b6a&Filter.2.Name=subnet-id&Version=2014-10-01&Action=DescribeNetworkInterfaces&Filter.1.Value.1=vpc-bd4c96d8
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080504Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkInterfacesResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\"\
        >\n    <requestId>c4e4fc59-d335-43d5-a254-2702f7e31594</requestId>\n    <networkInterfaceSet/>\n\
        </DescribeNetworkInterfacesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-0f1a8b6a&Version=2014-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080504Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n\
        \    <requestId>635d32f3-ffcb-456a-8bb0-f9927ec1dde2</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-bd4c96d8&Version=2014-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080504Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n \
        \   <requestId>cca1133a-8ed0-46db-a0ee-e2cb80a64844</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-bd4c96d8&Version=2014-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150301T080504Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2014-10-01/\">\n\
        \    <requestId>97e6798a-078b-4840-9127-49a0de4d3fe6</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
