interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-10-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162231Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>69b17537-00de-47fc-aa40-743626ed6368</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162231Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>7e35b6dc-cf05-4248-91a2-7fee1f42c615</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-f7b49292</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateTags&ResourceId.1=vpc-f7b49292&Version=2015-10-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162232Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>b8bcc24e-ed1b-4ed4-b57d-3d5a2f2ae250</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-f7b49292&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162232Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>95e52869-aa55-4cdc-a651-7f1ba4eec263</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-f7b49292</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateSubnet&VpcId=vpc-f7b49292&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162232Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>ddc98a7e-d210-4a41-88ff-7a6fc7baab27</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-edaae2b4</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-f7b49292</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1b</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-edaae2b4&Version=2015-10-01&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162233Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>b0a2cd50-0f1d-4429-8dcc-8ec2f2b33fae</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-edaae2b4</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-f7b49292</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1b</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-subnet</value>\n                </item>\n\
        \            </tagSet>\n        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-edaae2b4&Version=2015-10-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162233Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>1b574a88-c11f-4b3b-9c7a-688018f5f6b7</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-a08c88c5</networkAclId>\n \
        \           <vpcId>vpc-f7b49292</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-07810360</networkAclAssociationId>\n\
        \                    <networkAclId>acl-a08c88c5</networkAclId>\n         \
        \           <subnetId>subnet-edaae2b4</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=subnet-edaae2b4&Version=2015-10-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162234Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>c304ae2b-8b86-47cb-b947-567d74f7bb7e</requestId>\n    <routeTableSet/>\n\
        </DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-edaae2b4&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162235Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>4fa1f126-aa9a-406c-b697-af078471c132</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-f7b49292&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162235Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>3914b516-3f25-4ec8-8b9e-14bac7265d4b</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-f7b49292&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162236Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>ca6ec217-825e-488e-ae84-9c6a0b930a23</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
