interactions:
- request:
    body: Action=DescribeLaunchConfigurations&Version=2011-01-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DescribeLaunchConfigurationsResponse xmlns=\"\
        http://autoscaling.amazonaws.com/doc/2011-01-01/\">\n  <DescribeLaunchConfigurationsResult>\n\
        \    <LaunchConfigurations/>\n  </DescribeLaunchConfigurationsResult>\n  <ResponseMetadata>\n\
        \    <RequestId>423066fe-cc01-11e5-a5fb-3fc98720f597</RequestId>\n  </ResponseMetadata>\n\
        </DescribeLaunchConfigurationsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [423066fe-cc01-11e5-a5fb-3fc98720f597]
    status: {code: 200, message: OK}
[...]
- request:
    body: InstanceMonitoring.Enabled=false&ImageId=ami-cba130bc&Version=2011-01-01&LaunchConfigurationName=my-test-lc.1&Action=CreateLaunchConfiguration&InstanceType=t2.micro
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<CreateLaunchConfigurationResponse xmlns=\"http://autoscaling.amazonaws.com/doc/2011-01-01/\"\
        >\n  <ResponseMetadata>\n    <RequestId>4259998f-cc01-11e5-85f9-f370032d2ce3</RequestId>\n\
        \  </ResponseMetadata>\n</CreateLaunchConfigurationResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [4259998f-cc01-11e5-85f9-f370032d2ce3]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeLaunchConfigurations&Version=2011-01-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DescribeLaunchConfigurationsResponse xmlns=\"\
        http://autoscaling.amazonaws.com/doc/2011-01-01/\">\n  <DescribeLaunchConfigurationsResult>\n\
        \    <LaunchConfigurations>\n      <member>\n        <KernelId/>\n       \
        \ <RamdiskId/>\n        <EbsOptimized>false</EbsOptimized>\n        <UserData/>\n\
        \        <ImageId>ami-cba130bc</ImageId>\n        <BlockDeviceMappings/>\n\
        \        <ClassicLinkVPCSecurityGroups/>\n        <InstanceType>t2.micro</InstanceType>\n\
        \        <KeyName/>\n        <LaunchConfigurationARN>arn:aws:autoscaling:eu-west-1:x0x0x0x0x0x0:launchConfiguration:e98ce748-942b-4b21-b036-d8f1f4ab84b6:launchConfigurationName/my-test-lc.1</LaunchConfigurationARN>\n\
        \        <LaunchConfigurationName>my-test-lc.1</LaunchConfigurationName>\n\
        \        <CreatedTime>2016-02-05T12:09:08.609Z</CreatedTime>\n        <SecurityGroups/>\n\
        \        <InstanceMonitoring>\n          <Enabled>false</Enabled>\n      \
        \  </InstanceMonitoring>\n      </member>\n    </LaunchConfigurations>\n \
        \ </DescribeLaunchConfigurationsResult>\n  <ResponseMetadata>\n    <RequestId>4280833a-cc01-11e5-9b4f-83a673820889</RequestId>\n\
        \  </ResponseMetadata>\n</DescribeLaunchConfigurationsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [4280833a-cc01-11e5-9b4f-83a673820889]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeAutoScalingGroups&Version=2011-01-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DescribeAutoScalingGroupsResponse xmlns=\"http://autoscaling.amazonaws.com/doc/2011-01-01/\"\
        >\n  <DescribeAutoScalingGroupsResult>\n    <AutoScalingGroups/>\n  </DescribeAutoScalingGroupsResult>\n\
        \  <ResponseMetadata>\n    <RequestId>42eefc83-cc01-11e5-9b4f-83a673820889</RequestId>\n\
        \  </ResponseMetadata>\n</DescribeAutoScalingGroupsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [42eefc83-cc01-11e5-9b4f-83a673820889]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteLaunchConfiguration&Version=2011-01-01&LaunchConfigurationName=my-test-lc.1
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DeleteLaunchConfigurationResponse xmlns=\"http://autoscaling.amazonaws.com/doc/2011-01-01/\"\
        >\n  <ResponseMetadata>\n    <RequestId>432f60e7-cc01-11e5-9b4f-83a673820889</RequestId>\n\
        \  </ResponseMetadata>\n</DeleteLaunchConfigurationResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [432f60e7-cc01-11e5-9b4f-83a673820889]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeLaunchConfigurations&Version=2011-01-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://autoscaling.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<DescribeLaunchConfigurationsResponse xmlns=\"\
        http://autoscaling.amazonaws.com/doc/2011-01-01/\">\n  <DescribeLaunchConfigurationsResult>\n\
        \    <LaunchConfigurations/>\n  </DescribeLaunchConfigurationsResult>\n  <ResponseMetadata>\n\
        \    <RequestId>435cb279-cc01-11e5-b8eb-b79b566e5a2d</RequestId>\n  </ResponseMetadata>\n\
        </DescribeLaunchConfigurationsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [435cb279-cc01-11e5-b8eb-b79b566e5a2d]
    status: {code: 200, message: OK}
version: 1
