interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-10-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162512Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>d5e95696-2681-4e81-9d96-af6b3644fe14</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162512Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>5e6d193d-2070-4e22-9a88-fc22d4ff96f6</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-a0b492c5</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateTags&ResourceId.1=vpc-a0b492c5&Version=2015-10-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162512Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>3bb43a95-0a3a-4f79-971b-b6ff6dd1e848</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-a0b492c5&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162513Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>e5dfa458-2883-4f4c-b42b-bf22435c62a8</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-a0b492c5</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateSecurityGroup&GroupName=test-security-group&Version=2015-10-01&VpcId=vpc-a0b492c5&GroupDescription=test-security-group
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162514Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSecurityGroupResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>39ba66ee-043f-46e2-985b-e9f3cceb10d9</requestId>\n    <return>true</return>\n\
        \    <groupId>sg-b15e23d5</groupId>\n</CreateSecurityGroupResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeSecurityGroups&Filter.1.Value.1=sg-b15e23d5&Version=2015-10-01&Filter.1.Name=group-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162514Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSecurityGroupsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>33cdcd04-b6da-4c97-94cd-ababd2ee756d</requestId>\n    <securityGroupInfo>\n\
        \        <item>\n            <ownerId>000000000000</ownerId>\n           \
        \ <groupId>sg-b15e23d5</groupId>\n            <groupName>test-security-group</groupName>\n\
        \            <groupDescription>test-security-group</groupDescription>\n  \
        \          <vpcId>vpc-a0b492c5</vpcId>\n            <ipPermissions/>\n   \
        \         <ipPermissionsEgress>\n                <item>\n                \
        \    <ipProtocol>-1</ipProtocol>\n                    <groups/>\n        \
        \            <ipRanges>\n                        <item>\n                \
        \            <cidrIp>0.0.0.0/0</cidrIp>\n                        </item>\n\
        \                    </ipRanges>\n                    <prefixListIds/>\n \
        \               </item>\n            </ipPermissionsEgress>\n        </item>\n\
        \    </securityGroupInfo>\n</DescribeSecurityGroupsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: IpPermissions.1.FromPort=80&IpPermissions.1.ToPort=80&IpPermissions.1.IpProtocol=tcp&IpPermissions.1.IpRanges.1.CidrIp=0.0.0.0%2F0&Version=2015-10-01&Action=AuthorizeSecurityGroupIngress&GroupId=sg-b15e23d5
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162515Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <AuthorizeSecurityGroupIngressResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>a61e23e3-ad6f-4b56-b6d6-8f14b13182f4</requestId>\n    <return>true</return>\n\
        </AuthorizeSecurityGroupIngressResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeSecurityGroups&Filter.1.Value.1=sg-b15e23d5&Version=2015-10-01&Filter.1.Name=group-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162515Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSecurityGroupsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>c1337636-bb25-43b6-9c9f-ea3261384058</requestId>\n    <securityGroupInfo>\n\
        \        <item>\n            <ownerId>000000000000</ownerId>\n           \
        \ <groupId>sg-b15e23d5</groupId>\n            <groupName>test-security-group</groupName>\n\
        \            <groupDescription>test-security-group</groupDescription>\n  \
        \          <vpcId>vpc-a0b492c5</vpcId>\n            <ipPermissions>\n    \
        \            <item>\n                    <ipProtocol>tcp</ipProtocol>\n  \
        \                  <fromPort>80</fromPort>\n                    <toPort>80</toPort>\n\
        \                    <groups/>\n                    <ipRanges>\n         \
        \               <item>\n                            <cidrIp>0.0.0.0/0</cidrIp>\n\
        \                        </item>\n                    </ipRanges>\n      \
        \              <prefixListIds/>\n                </item>\n            </ipPermissions>\n\
        \            <ipPermissionsEgress>\n                <item>\n             \
        \       <ipProtocol>-1</ipProtocol>\n                    <groups/>\n     \
        \               <ipRanges>\n                        <item>\n             \
        \               <cidrIp>0.0.0.0/0</cidrIp>\n                        </item>\n\
        \                    </ipRanges>\n                    <prefixListIds/>\n \
        \               </item>\n            </ipPermissionsEgress>\n        </item>\n\
        \    </securityGroupInfo>\n</DescribeSecurityGroupsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSecurityGroup&Version=2015-10-01&GroupId=sg-b15e23d5
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162516Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSecurityGroupResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>177095b3-ac8b-4c0d-80b5-c8fa19eebb7a</requestId>\n    <return>true</return>\n\
        </DeleteSecurityGroupResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-a0b492c5&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162516Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>ebc620c7-ff91-42a2-ad0f-29b65db7e99c</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-a0b492c5&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162516Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>5e944da5-004b-4dbd-b8e3-ef61a2485f59</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
