interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-04-15&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145536Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>79322545-f353-4ced-9ad8-6a92ff8b3296</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-04-15&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145536Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n \
        \   <requestId>b99bd23b-4c7f-48ac-a554-ff0f98e31671</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-0e02876b</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-0e02876b&Version=2015-04-15&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145537Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>96da77f8-2d75-4fee-a662-6d79dab07169</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-0e02876b</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <instanceTenancy>default</instanceTenancy>\n            <isDefault>false</isDefault>\n\
        \        </item>\n    </vpcSet>\n</DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateTags&ResourceId.1=vpc-0e02876b&Version=2015-04-15&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145538Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>cdeeafd0-6cc2-41f8-b8e7-35827f672f47</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateSubnet&VpcId=vpc-0e02876b&Version=2015-04-15&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145538Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>3324e614-10e4-42a8-96bd-2486adf8f6af</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-3b8b3862</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-0e02876b</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1b</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-3b8b3862&Version=2015-04-15&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145538Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>03a787df-fe9d-4e33-b241-2e0052ad721a</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-3b8b3862</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-0e02876b</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1b</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-3b8b3862&Version=2015-04-15&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145539Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>760fa8b8-48e0-4fd3-a5cf-af9ef4e1d28e</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-3a30a45f</networkAclId>\n \
        \           <vpcId>vpc-0e02876b</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-54dc0430</networkAclAssociationId>\n\
        \                    <networkAclId>acl-3a30a45f</networkAclId>\n         \
        \           <subnetId>subnet-3b8b3862</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=subnet-3b8b3862&Version=2015-04-15&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145539Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>8f5658cb-b099-4ebb-9436-39d5d64ff89d</requestId>\n    <routeTableSet/>\n\
        </DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-0e02876b&Version=2015-04-15&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145540Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>ff955cfe-781d-4e62-9fcf-212f12fd2134</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-0e02876b</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateNetworkAcl&VpcId=vpc-0e02876b&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145541Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>0346c318-1c8c-4996-8e15-3b5fc4e50002</requestId>\n    <networkAcl>\n\
        \        <networkAclId>acl-0130a464</networkAclId>\n        <vpcId>vpc-0e02876b</vpcId>\n\
        \        <default>false</default>\n        <entrySet>\n            <item>\n\
        \                <ruleNumber>32767</ruleNumber>\n                <protocol>-1</protocol>\n\
        \                <ruleAction>deny</ruleAction>\n                <egress>true</egress>\n\
        \                <cidrBlock>0.0.0.0/0</cidrBlock>\n            </item>\n \
        \           <item>\n                <ruleNumber>32767</ruleNumber>\n     \
        \           <protocol>-1</protocol>\n                <ruleAction>deny</ruleAction>\n\
        \                <egress>false</egress>\n                <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \            </item>\n        </entrySet>\n        <associationSet/>\n   \
        \     <tagSet/>\n    </networkAcl>\n</CreateNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=ReplaceNetworkAclAssociation&NetworkAclId=acl-0130a464&Version=2015-04-15&AssociationId=aclassoc-54dc0430
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145542Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <ReplaceNetworkAclAssociationResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>661d42f9-0adf-4393-90d4-8b286d55caf8</requestId>\n    <newAssociationId>aclassoc-56dc0432</newAssociationId>\n\
        </ReplaceNetworkAclAssociationResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-3b8b3862&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145544Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>14821280-e0df-4501-8d97-3c6971325d24</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteNetworkAcl&NetworkAclId=acl-0130a464&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145545Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\"\
        >\n    <requestId>0384ce78-5fc1-4bfb-81a2-48de43dd13e0</requestId>\n    <return>true</return>\n\
        </DeleteNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-0e02876b&Version=2015-04-15
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145545Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n \
        \   <requestId>703c9c0b-014b-4027-a324-148978af8c8b</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-0e02876b&Version=2015-04-15&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150619T145545Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-04-15/\">\n\
        \    <requestId>47125b31-9e1a-4b36-a347-2cdbd15ffa7e</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
