interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-03-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135831Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>50ea74f0-a802-411a-9bd5-efdc51f50281</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-03-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135831Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n \
        \   <requestId>f2c73406-c266-4a91-88a7-43107af87839</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-87813de2</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-87813de2&Version=2015-03-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135831Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>b63c0eff-4946-43ba-a6cf-4d9ff5ca0c02</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-87813de2</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <instanceTenancy>default</instanceTenancy>\n            <isDefault>false</isDefault>\n\
        \        </item>\n    </vpcSet>\n</DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateTags&ResourceId.1=vpc-87813de2&Version=2015-03-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135832Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>6f076edb-a242-4eec-bdde-d4c1d676831f</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateSubnet&VpcId=vpc-87813de2&Version=2015-03-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135832Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>9fdc20a6-80ca-4a35-a167-5b1029587fb9</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-9a65cfc3</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-87813de2</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1b</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-9a65cfc3&Version=2015-03-01&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135833Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>878681e2-71b1-4144-a8fd-06e510f4a46a</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-9a65cfc3</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-87813de2</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1b</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-9a65cfc3&Version=2015-03-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135833Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>6f17baf0-267d-45b5-92a6-47e2626ae8af</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-f9a32f9c</networkAclId>\n \
        \           <vpcId>vpc-87813de2</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-1575b471</networkAclAssociationId>\n\
        \                    <networkAclId>acl-f9a32f9c</networkAclId>\n         \
        \           <subnetId>subnet-9a65cfc3</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=subnet-9a65cfc3&Version=2015-03-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135833Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>9633d937-ea3b-43d3-a6b6-2b65eb582a77</requestId>\n    <routeTableSet/>\n\
        </DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-87813de2&Version=2015-03-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135834Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>49a026fa-6d4c-439b-81f4-84a3e2bbdce7</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-87813de2</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateNetworkAcl&VpcId=vpc-87813de2&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135835Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>9e2cc93c-246a-4deb-9c39-f0b5d02bdde4</requestId>\n    <networkAcl>\n\
        \        <networkAclId>acl-f8a32f9d</networkAclId>\n        <vpcId>vpc-87813de2</vpcId>\n\
        \        <default>false</default>\n        <entrySet>\n            <item>\n\
        \                <ruleNumber>32767</ruleNumber>\n                <protocol>-1</protocol>\n\
        \                <ruleAction>deny</ruleAction>\n                <egress>true</egress>\n\
        \                <cidrBlock>0.0.0.0/0</cidrBlock>\n            </item>\n \
        \           <item>\n                <ruleNumber>32767</ruleNumber>\n     \
        \           <protocol>-1</protocol>\n                <ruleAction>deny</ruleAction>\n\
        \                <egress>false</egress>\n                <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \            </item>\n        </entrySet>\n        <associationSet/>\n   \
        \     <tagSet/>\n    </networkAcl>\n</CreateNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=ReplaceNetworkAclAssociation&NetworkAclId=acl-f8a32f9d&Version=2015-03-01&AssociationId=aclassoc-1575b471
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135836Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <ReplaceNetworkAclAssociationResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>d82b5596-9f8b-4295-9cd3-c7c6ed76d594</requestId>\n    <newAssociationId>aclassoc-1675b472</newAssociationId>\n\
        </ReplaceNetworkAclAssociationResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-9a65cfc3&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135838Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>1c73cb57-b654-4a26-a378-3e01fbc5cdbd</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteNetworkAcl&NetworkAclId=acl-f8a32f9d&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135838Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\"\
        >\n    <requestId>d8b853c2-89e7-433e-acfc-76caebd48950</requestId>\n    <return>true</return>\n\
        </DeleteNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-87813de2&Version=2015-03-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135838Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n \
        \   <requestId>c49dc6ec-9c1b-4f59-b32b-4424c02b7a1b</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-87813de2&Version=2015-03-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150527T135839Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-03-01/\">\n\
        \    <requestId>0657c1b9-48fc-4fac-bef7-bf099c73a828</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
