interactions:
- request:
    body: Action=ListTopics&Version=2010-03-31
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150302T135007Z]
    method: !!python/unicode 'POST'
    uri: https://sns.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<ListTopicsResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"\
        >\n  <ListTopicsResult>\n    <Topics/>\n  </ListTopicsResult>\n  <ResponseMetadata>\n\
        \    <RequestId>b205f370-fb7f-503c-ac3a-be1e97b014de</RequestId>\n  </ResponseMetadata>\n\
        </ListTopicsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [b205f370-fb7f-503c-ac3a-be1e97b014de]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateTopic&Version=2010-03-31&Name=test-topic
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150302T135007Z]
    method: !!python/unicode 'POST'
    uri: https://sns.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<CreateTopicResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"\
        >\n  <CreateTopicResult>\n    <TopicArn>arn:aws:sns:eu-west-1:000000000000:test-topic</TopicArn>\n\
        \  </CreateTopicResult>\n  <ResponseMetadata>\n    <RequestId>a1eb8f43-d26c-5b6a-8005-c22dbea305d7</RequestId>\n\
        \  </ResponseMetadata>\n</CreateTopicResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [a1eb8f43-d26c-5b6a-8005-c22dbea305d7]
    status: {code: 200, message: OK}
- request:
    body: Action=ListTopics&Version=2010-03-31
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150302T135007Z]
    method: !!python/unicode 'POST'
    uri: https://sns.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<ListTopicsResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"\
        >\n  <ListTopicsResult>\n    <Topics>\n      <member>\n        <TopicArn>arn:aws:sns:eu-west-1:000000000000:test-topic</TopicArn>\n\
        \      </member>\n    </Topics>\n  </ListTopicsResult>\n  <ResponseMetadata>\n\
        \    <RequestId>94ba17e2-3c96-58ef-8594-5a8c5059e652</RequestId>\n  </ResponseMetadata>\n\
        </ListTopicsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [94ba17e2-3c96-58ef-8594-5a8c5059e652]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=ListSubscriptionsByTopic&Version=2010-03-31&TopicArn=arn%3Aaws%3Asns%3Aeu-west-1%3A000000000000%3Atest-topic
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150302T135007Z]
    method: !!python/unicode 'POST'
    uri: https://sns.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<ListSubscriptionsByTopicResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"\
        >\n  <ListSubscriptionsByTopicResult>\n    <Subscriptions/>\n  </ListSubscriptionsByTopicResult>\n\
        \  <ResponseMetadata>\n    <RequestId>4c1069a4-547f-5a78-a372-24ca38b0b883</RequestId>\n\
        \  </ResponseMetadata>\n</ListSubscriptionsByTopicResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [4c1069a4-547f-5a78-a372-24ca38b0b883]
    status: {code: 200, message: OK}
- request:
    body: Action=GetTopicAttributes&Version=2010-03-31&TopicArn=arn%3Aaws%3Asns%3Aeu-west-1%3A000000000000%3Atest-topic
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150302T135007Z]
    method: !!python/unicode 'POST'
    uri: https://sns.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<GetTopicAttributesResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"\
        >\n  <GetTopicAttributesResult>\n    <Attributes>\n      <entry>\n       \
        \ <key>EffectiveDeliveryPolicy</key>\n        <value>{&quot;http&quot;:{&quot;defaultHealthyRetryPolicy&quot;:{&quot;minDelayTarget&quot;:20,&quot;maxDelayTarget&quot;:20,&quot;numRetries&quot;:3,&quot;numMaxDelayRetries&quot;:0,&quot;numNoDelayRetries&quot;:0,&quot;numMinDelayRetries&quot;:0,&quot;backoffFunction&quot;:&quot;linear&quot;},&quot;disableSubscriptionOverrides&quot;:false}}</value>\n\
        \      </entry>\n      <entry>\n        <key>Owner</key>\n        <value>000000000000</value>\n\
        \      </entry>\n      <entry>\n      [...]
[...]
- request:
    body: Action=DeleteTopic&Version=2010-03-31&TopicArn=arn%3Aaws%3Asns%3Aeu-west-1%3A000000000000%3Atest-topic
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150302T135007Z]
    method: !!python/unicode 'POST'
    uri: https://sns.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<DeleteTopicResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"\
        >\n  <ResponseMetadata>\n    <RequestId>0f264674-0f70-51ba-b907-0b1a63bf1146</RequestId>\n\
        \  </ResponseMetadata>\n</DeleteTopicResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [0f264674-0f70-51ba-b907-0b1a63bf1146]
    status: {code: 200, message: OK}
- request:
    body: Action=ListTopics&Version=2010-03-31
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20150302T135007Z]
    method: !!python/unicode 'POST'
    uri: https://sns.eu-west-1.amazonaws.com:443/
  response:
    body: {string: !!python/unicode "<ListTopicsResponse xmlns=\"http://sns.amazonaws.com/doc/2010-03-31/\"\
        >\n  <ListTopicsResult>\n    <Topics/>\n  </ListTopicsResult>\n  <ResponseMetadata>\n\
        \    <RequestId>6a1cc58b-b949-5fde-a0c6-88e5d599593f</RequestId>\n  </ResponseMetadata>\n\
        </ListTopicsResponse>\n"}
    headers:
      content-type: [text/xml]
      x-amzn-requestid: [6a1cc58b-b949-5fde-a0c6-88e5d599593f]
    status: {code: 200, message: OK}
version: 1
