interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-10-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162212Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>95e51c4c-d1d5-4a15-883d-30dec5319ae7</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162213Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>752cffd0-57f4-4180-9969-2ee43370b262</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-e3b49286</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateTags&ResourceId.1=vpc-e3b49286&Version=2015-10-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162213Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>a83ff9f7-d0f8-4c83-9aac-86f39ecfa47f</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-e3b49286&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162214Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>acb4c657-5d56-4a07-b49a-f302398a4a6b</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-e3b49286</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateSubnet&VpcId=vpc-e3b49286&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162214Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>526574ee-79a9-4c73-b196-db8a4bea2cd7</requestId>\n    <subnet>\n\
        \        <subnetId>subnet-d0a0a8b5</subnetId>\n        <state>pending</state>\n\
        \        <vpcId>vpc-e3b49286</vpcId>\n        <cidrBlock>192.168.0.0/25</cidrBlock>\n\
        \        <availableIpAddressCount>123</availableIpAddressCount>\n        <availabilityZone>eu-west-1c</availabilityZone>\n\
        \    </subnet>\n</CreateSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeSubnets&Filter.1.Value.1=subnet-d0a0a8b5&Version=2015-10-01&Filter.1.Name=subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162215Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeSubnetsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>fc216962-da7d-4477-bf4c-26239d54cf2d</requestId>\n    <subnetSet>\n\
        \        <item>\n            <subnetId>subnet-d0a0a8b5</subnetId>\n      \
        \      <state>available</state>\n            <vpcId>vpc-e3b49286</vpcId>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <availableIpAddressCount>123</availableIpAddressCount>\n\
        \            <availabilityZone>eu-west-1c</availabilityZone>\n           \
        \ <defaultForAz>false</defaultForAz>\n            <mapPublicIpOnLaunch>false</mapPublicIpOnLaunch>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-subnet</value>\n                </item>\n\
        \            </tagSet>\n        </item>\n    </subnetSet>\n</DescribeSubnetsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=subnet-d0a0a8b5&Version=2015-10-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162215Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>82f8759d-0f1c-4f6e-9e40-2f35a6aa1645</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-d28c88b7</networkAclId>\n \
        \           <vpcId>vpc-e3b49286</vpcId>\n            <default>true</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>100</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet>\n\
        \                <item>\n                    <networkAclAssociationId>aclassoc-5d81033a</networkAclAssociationId>\n\
        \                    <networkAclId>acl-d28c88b7</networkAclId>\n         \
        \           <subnetId>subnet-d0a0a8b5</subnetId>\n                </item>\n\
        \            </associationSet>\n            <tagSet/>\n        </item>\n \
        \   </networkAclSet>\n</DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeRouteTables&Filter.1.Value.1=subnet-d0a0a8b5&Version=2015-10-01&Filter.1.Name=association.subnet-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162216Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeRouteTablesResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>22e85c34-2849-4f83-a8ec-fc2908d6c2ea</requestId>\n    <routeTableSet/>\n\
        </DescribeRouteTablesResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateNetworkAcl&VpcId=vpc-e3b49286&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162218Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>0f37aefd-5ebb-49a0-a683-7d981a4a3cfb</requestId>\n    <networkAcl>\n\
        \        <networkAclId>acl-dc8c88b9</networkAclId>\n        <vpcId>vpc-e3b49286</vpcId>\n\
        \        <default>false</default>\n        <entrySet>\n            <item>\n\
        \                <ruleNumber>32767</ruleNumber>\n                <protocol>-1</protocol>\n\
        \                <ruleAction>deny</ruleAction>\n                <egress>true</egress>\n\
        \                <cidrBlock>0.0.0.0/0</cidrBlock>\n            </item>\n \
        \           <item>\n                <ruleNumber>32767</ruleNumber>\n     \
        \           <protocol>-1</protocol>\n                <ruleAction>deny</ruleAction>\n\
        \                <egress>false</egress>\n                <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \            </item>\n        </entrySet>\n        <associationSet/>\n   \
        \     <tagSet/>\n    </networkAcl>\n</CreateNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=ReplaceNetworkAclAssociation&NetworkAclId=acl-dc8c88b9&Version=2015-10-01&AssociationId=aclassoc-5d81033a
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162219Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <ReplaceNetworkAclAssociationResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>ae177aed-0518-4821-a50f-cd586e909aea</requestId>\n    <newAssociationId>aclassoc-21810346</newAssociationId>\n\
        </ReplaceNetworkAclAssociationResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteSubnet&SubnetId=subnet-d0a0a8b5&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162221Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteSubnetResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>59fae35f-e742-4677-9d44-1d2e3918cda9</requestId>\n    <return>true</return>\n\
        </DeleteSubnetResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteNetworkAcl&NetworkAclId=acl-dc8c88b9&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162222Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>ff937e25-0ba8-411a-8eba-7a7b0cb8cfdc</requestId>\n    <return>true</return>\n\
        </DeleteNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DeleteVpc&VpcId=vpc-e3b49286&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162222Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>060e07b6-21c5-4d34-ad07-98394c9c5e1c</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-e3b49286&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-Amz-Date: [20160107T162222Z]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>11e9dbf0-ed16-49d8-b145-8fd298c91ee8</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
