interactions:
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=test-vpc&Version=2015-10-01&Filter.1.Name=tag%3AName
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>614f6911-c496-4851-ba64-2293f4758bc1</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateVpc&InstanceTenancy=default&Version=2015-10-01&CidrBlock=192.168.0.0%2F25
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>166a7fe2-5093-41ba-946d-185e7bd42246</requestId>\n    <vpc>\n\
        \        <vpcId>vpc-b789afd2</vpcId>\n        <state>pending</state>\n   \
        \     <cidrBlock>192.168.0.0/25</cidrBlock>\n        <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \        <instanceTenancy>default</instanceTenancy>\n    </vpc>\n</CreateVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=CreateTags&ResourceId.1=vpc-b789afd2&Version=2015-10-01&Tag.1.Value=test-vpc&Tag.1.Key=Name
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateTagsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>4c6b06ad-71bb-410c-86f0-177da4a2f1be</requestId>\n    <return>true</return>\n\
        </CreateTagsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-b789afd2&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>ee9f68d4-eef2-4e72-9a67-52ce9146de4c</requestId>\n    <vpcSet>\n\
        \        <item>\n            <vpcId>vpc-b789afd2</vpcId>\n            <state>available</state>\n\
        \            <cidrBlock>192.168.0.0/25</cidrBlock>\n            <dhcpOptionsId>dopt-ec5b4b8e</dhcpOptionsId>\n\
        \            <tagSet>\n                <item>\n                    <key>Name</key>\n\
        \                    <value>test-vpc</value>\n                </item>\n  \
        \          </tagSet>\n            <instanceTenancy>default</instanceTenancy>\n\
        \            <isDefault>false</isDefault>\n        </item>\n    </vpcSet>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=CreateNetworkAcl&VpcId=vpc-b789afd2&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>cdb72909-f2f7-45d7-bd44-f68dfa290170</requestId>\n    <networkAcl>\n\
        \        <networkAclId>acl-3dafab58</networkAclId>\n        <vpcId>vpc-b789afd2</vpcId>\n\
        \        <default>false</default>\n        <entrySet>\n            <item>\n\
        \                <ruleNumber>32767</ruleNumber>\n                <protocol>-1</protocol>\n\
        \                <ruleAction>deny</ruleAction>\n                <egress>true</egress>\n\
        \                <cidrBlock>0.0.0.0/0</cidrBlock>\n            </item>\n \
        \           <item>\n                <ruleNumber>32767</ruleNumber>\n     \
        \           <protocol>-1</protocol>\n                <ruleAction>deny</ruleAction>\n\
        \                <egress>false</egress>\n                <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \            </item>\n        </entrySet>\n        <associationSet/>\n   \
        \     <tagSet/>\n    </networkAcl>\n</CreateNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=acl-3dafab58&Version=2015-10-01&Filter.1.Name=network-acl-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>ed53d99d-72ac-49e4-b3be-462d3ae636c2</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-3dafab58</networkAclId>\n \
        \           <vpcId>vpc-b789afd2</vpcId>\n            <default>false</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet/>\n\
        \            <tagSet>\n                <item>\n                    <resourceId>acl-3dafab58</resourceId>\n\
        \                    <resourceType>network-acl</resourceType>\n          \
        \          <key>Name</key>\n                    <value>test-network-acl.1</value>\n\
        \                </item>\n            </tagSet>\n        </item>\n    </networkAclSet>\n\
        </DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: NetworkAclId=acl-3dafab58&RuleNumber=1&Protocol=17&Egress=false&Version=2015-10-01&RuleAction=allow&PortRange.From=25&Action=CreateNetworkAclEntry&PortRange.To=25&CidrBlock=10.0.0.0%2F20
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <CreateNetworkAclEntryResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>343c89d3-a907-4aa6-a00a-7f366b85c96b</requestId>\n    <return>true</return>\n\
        </CreateNetworkAclEntryResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DescribeNetworkAcls&Filter.1.Value.1=acl-3dafab58&Version=2015-10-01&Filter.1.Name=network-acl-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeNetworkAclsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>13824d09-e264-4f66-ad1f-168660f22fa7</requestId>\n    <networkAclSet>\n\
        \        <item>\n            <networkAclId>acl-3dafab58</networkAclId>\n \
        \           <vpcId>vpc-b789afd2</vpcId>\n            <default>false</default>\n\
        \            <entrySet>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>true</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n                <item>\n                    <ruleNumber>1</ruleNumber>\n\
        \                    <protocol>17</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>10.0.0.0/20</cidrBlock>\n\
        \                    <portRange>\n                        <from>25</from>\n\
        \                        <to>25</to>\n                    </portRange>\n \
        \               </item>\n                <item>\n                    <ruleNumber>2</ruleNumber>\n\
        \                    <protocol>6</protocol>\n                    <ruleAction>allow</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>10.0.0.0/20</cidrBlock>\n\
        \                    <portRange>\n                        <from>8080</from>\n\
        \                        <to>8090</to>\n                    </portRange>\n\
        \                </item>\n                <item>\n                    <ruleNumber>32767</ruleNumber>\n\
        \                    <protocol>-1</protocol>\n                    <ruleAction>deny</ruleAction>\n\
        \                    <egress>false</egress>\n                    <cidrBlock>0.0.0.0/0</cidrBlock>\n\
        \                </item>\n            </entrySet>\n            <associationSet/>\n\
        \            <tagSet>\n                <item>\n                    <resourceId>acl-3dafab58</resourceId>\n\
        \                    <resourceType>network-acl</resourceType>\n          \
        \          <key>Name</key>\n                    <value>test-network-acl.1</value>\n\
        \                </item>\n            </tagSet>\n        </item>\n    </networkAclSet>\n\
        </DescribeNetworkAclsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteNetworkAcl&NetworkAclId=acl-3dafab58&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteNetworkAclResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\"\
        >\n    <requestId>3c5b1dca-4610-472c-8177-6647894bd6d0</requestId>\n    <return>true</return>\n\
        </DeleteNetworkAclResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: Action=DeleteVpc&VpcId=vpc-b789afd2&Version=2015-10-01
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DeleteVpcResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n \
        \   <requestId>6db8e63c-e284-4497-9882-0173cb77f3fb</requestId>\n    <return>true</return>\n\
        </DeleteVpcResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: Action=DescribeVpcs&Filter.1.Value.1=vpc-b789afd2&Version=2015-10-01&Filter.1.Name=vpc-id
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: !!python/unicode 'POST'
    uri: https://ec2.eu-west-1.amazonaws.com/
  response:
    body: {string: !!python/unicode "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\
        <DescribeVpcsResponse xmlns=\"http://ec2.amazonaws.com/doc/2015-10-01/\">\n\
        \    <requestId>05f21d66-80df-450e-8001-57e35d9c455f</requestId>\n    <vpcSet/>\n\
        </DescribeVpcsResponse>"}
    headers:
      content-type: [text/xml;charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
