botocore==1.8.48
jmespath==0.9.3
netaddr==0.7.19
contextlib2==0.5.5
paramiko==2.4.0
ecdsa==0.13
six==1.11.0
fuselage==1.0.0
cryptography==2.1.4
python-gnupg==0.4.1

Jinja2

coverage==4.5.1
codecov==2.0.15

# See https://github.com/gforcada/flake8-isort/pull/14
flake8==2.6.2  # rq.filter: <3
flake8-quotes==0.13.1
flake8-isort==2.3
isort==4.3.4
mccabe==0.6.1
mock==2.0.0
pep8==1.5.7  # rq.filter: <1.6
py==1.5.2
pyflakes==1.1.0  # rq.filter: <1.2.0
pytest==3.4.1
pytest-cov==2.5.1
requests==2.18.4

-e .
