botocore==1.15.14
jmespath==0.9.5
netaddr==0.7.19
contextlib2==0.6.0.post1
paramiko==2.7.1
ecdsa==0.15
six==1.14.0
fuselage==1.0.0
cryptography==2.8
python-gnupg==0.4.5

Jinja2

coverage==5.0.3
codecov==2.0.16

flake8==3.7.9
isort==4.3.21
mccabe==0.6.1
mock==4.0.1
pep8==1.7.1
py==1.8.1
pyflakes==2.1.1
pytest==5.3.5
pytest-cov==2.8.1
requests==2.23.0
black

-e .
