botocore==1.21.0
jmespath==0.10.0
netaddr==0.8.0
contextlib2==21.6.0
paramiko==2.7.2
ecdsa==0.17.0
six==1.16.0
fuselage==1.0.0
cryptography==3.4.7
python-gnupg==0.4.7

Jinja2

coverage==5.5
codecov==2.1.11

flake8==3.9.2
isort==5.9.2
mccabe==0.6.1
mock==4.0.3
pep8==1.7.1
py==1.10.0
pyflakes==2.3.1
pytest==6.2.4
pytest-cov==2.12.1
requests==2.26.0
black

-e .
